.headerContainer {
    height: 60px;
    /*width: 100%;*/
    background: rgba(252, 252, 252, 1);
    background: #FCFCFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgb(109 109 109 / 25%), inset 0px 1px 0px rgb(255 255 255 / 30%);
    padding: 0 136px;
}
.avatar {
    display: flex;
    width: 36px;
    height: 36px;
    /*left: 1108px;*/
    /*top: 12px;*/
}
.profileData {
    display: flex;
    justify-content: space-between;
    width: 230px;
}
.name {
    height: 32px;
    width: 35px;
    /*left: 1061px;*/
    /*top: 18px;*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    /* identical to box height, or 150% */

    display: flex;
    /*align-items: center;*/

    color: #000000;
}
.logo {
    /*position: absolute;*/
    /*left: 10.62%;*/
    /*right: 73.05%;*/
    /*top: 0.83%;*/
    /*bottom: 92.5%;*/
}
.profileStatus {

}
.button {
    /*position: absolute;*/
    /*left: 80.55%;*/
    /*right: 10.62%;*/
    /*top: 1.67%;*/
    /*bottom: 93.33%;*/

    background: #366EFF;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}